In [1]:
import pandas as pd
import datetime

c:\Users\victory tech\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:61: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
df = pd.read_csv('MSFT.csv')
df

,Date,Open,High,Low,Close,Volume
0,1986-03-13 00:00:00-05:00,0.054485,0.062498,0.054485,0.059827,1031788800
1,1986-03-14 00:00:00-05:00,0.059827,0.063032,0.059827,0.061963,308160000
2,1986-03-17 00:00:00-05:00,0.061963,0.063566,0.061963,0.063032,133171200
3,1986-03-18 00:00:00-05:00,0.063032,0.063566,0.060895,0.061429,67766400
4,1986-03-19 00:00:00-05:00,0.061429,0.061963,0.059827,0.060361,47894400
...,...,...,...,...,...,...
9753,2024-11-22 00:00:00-05:00,411.369995,417.399994,411.059998,417.000000,24814600
9754,2024-11-25 00:00:00-05:00,418.380005,421.079987,414.850006,418.790008,27691100
9755,2024-11-26 00:00:00-05:00,419.589996,429.040008,418.850006,427.989990,23458900
9756,2024-11-27 00:00:00-05:00,425.109985,427.230011,422.019989,422.989990,18332400
9757,2024-11-29 00:00:00-05:00,420.089996,424.880005,417.799988,423.459992,16271900

In [3]:
df = df[['Date', 'Close']]
df

                           Date       Close
0     1986-03-13 00:00:00-05:00    0.059827
1     1986-03-14 00:00:00-05:00    0.061963
2     1986-03-17 00:00:00-05:00    0.063032
3     1986-03-18 00:00:00-05:00    0.061429
4     1986-03-19 00:00:00-05:00    0.060361
...                         ...         ...
9753  2024-11-22 00:00:00-05:00  417.000000
9754  2024-11-25 00:00:00-05:00  418.790008
9755  2024-11-26 00:00:00-05:00  427.989990
9756  2024-11-27 00:00:00-05:00  422.989990
9757  2024-11-29 00:00:00-05:00  423.459992

[9758 rows x 2 columns]

# Processing Data

In [4]:
def string_to_date(date_string):
    date_part = date_string.split(' ')[0]   
    split = date_part.split('-')
    year, month, day = int(split[0]), int(split[1]), int(split[2])
    return datetime.datetime(year=year, month=month, day=day)

In [5]:
df['Date'] = df['Date'].apply(string_to_date)
df['Date']

C:\Users\victory tech\AppData\Local\Temp\ipykernel_22684\2012105700.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = df['Date'].apply(string_to_date)

0      1986-03-13
1      1986-03-14
2      1986-03-17
3      1986-03-18
4      1986-03-19
          ...
9753   2024-11-22
9754   2024-11-25
9755   2024-11-26
9756   2024-11-27
9757   2024-11-29
Name: Date, Length: 9758, dtype: datetime64[ns]